.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.logoWrapper {
  display: block;
  padding: 20px 50px 0 30px;
}

.logoImage {
  display: block;
  max-width: 100%;
}

.loginFormWrapper {
  display: block;
  padding: 20px 50px 0 30px;
}
