.overlay {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 0.2s linear;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.overlay.show {
  visibility: visible;
  opacity: 1;
}

.warningWrapper {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 130px;
  border-radius: 10px;
  background-color: #fff;
  transform: translateY(-100px);
}

.warningTitleWrapper {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.warningTitle {
  font-size: 15px;
  font-weight: bold;
}

.warningMessageWrapper {
  padding: 20px;
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.warningMessage {
  font-size: 17px;
}
